* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


h1, .moveright p, .moveleft p {
	font-family: 'Mr Bedfort', cursive;
}

header, main {
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	padding: 10px 0;
}

#fortune {
	font-size: 4rem;
	display: block;
}

p {
	font-family: 'Comfortaa', cursive;
}

#layer-one, #layer-two {
	padding-top: 5%;
}

#orange {
	background-color: #d68928;
}

#purple {
	background-color: #8c2c8d;
}

#yellow {
	background-color: #f1d92f;
}

#green {
	background-color: #38b449;
}

ul {
	display: inline-block;
	text-align: center;
}

ul li {
	list-style: none;
}

 ul li p {
	 	font-family: 'Mr Bedfort', cursive;
		font-size: 1.25rem;
 }

.leftover {
	margin-right: 20%;
}

.rightover {
	margin-left: 20%;
}

#orange, #purple, #yellow, #green {
	padding: 50px;
	margin: 3%;
	width: 85px;
}

section {
	padding-top: 20px;
}


.hide {
	display: none;
}

#displayfortune {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-family: 'Mr Bedfort', cursive;
	font-size: 1.5rem;

}

#centered {
  position: relative;
  text-align: center;
}

#centered img {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 1000px;
}

@media (max-width: 650px) {
	#orange, #purple, #yellow, #green {
		padding: 25px;
		margin: 3%;
		width: 50px;
	}

	.leftover {
		margin-right: 10%;
	}

	.rightover {
		margin-left: 10%;
	}
}
